@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
} 
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PT-Sans.ttf') format('truetype');
}

*, 
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 90px;
  background-color: #fff;
  text-align: center;
}

p {
  font-family: 'Montserrat-Bold';
}

.title {
  font-family: 'Montserrat-Regular';
}

.description {
  font-family: 'PT Sans';
  color: #898f99;
}

header {
  padding: 70px 0;
  margin: auto;
  align-content: center;
  letter-spacing: 5px;
}

.intro {
  color: #898f99;
}

header, .title {
  text-transform: uppercase;
}

header .title {
  margin: 35px 0 40px 0;
  font-size: 48px;
  letter-spacing: 5px;
  color: #0ec8cb;
}

header .description {
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 18px;
  line-height: 40px;
  color: #a1a1a1;
}

.services {
  background-color: #f7f7f7;
  color: #1b1b1b;
}

.services .title {
  margin-top: 50px;
}

main .services {
  width: 300px;
  display: inline-block;
  padding: 20x 30px;
  margin-bottom: 5px;
}

.services {
  padding: 60px 30px 90px 30px;
  height: 420px;
  vertical-align: middle;
}

/* align second-section title */
.web-development .title {
  margin-top: 40px;
}

.icon {
  font-size: 50px;
}

.services:hover {
  background-color: #0ec8cb;
  color: #fff;
}

.services:hover,
.services:hover .description {
  background-color: #0ec8cb;
  color: #fff;
}
